/* HELPERS */

.block {
    display: block;
}

.inline {
    display: inline;
}

.inline-block {
    display: inline-block;
}

.display-none {
    display: none;
}

.inline-flex {
    display: inline-flex;
}

/* flex-helpers */

.flex {
    display: flex;

    &.column {
        flex-direction: column;
    }
    &.row {
        flex-direction: row;
    }

    &.space-evenly {
        justify-content: space-evenly;
    }

    &.justify-center {
        justify-content: center;
    }

    &.space-around {
        justify-content: space-around;
    }

    &.space-between {
        justify-content: space-between;
    }

    &.flex-start {
        justify-content: flex-start;
    }

    &.flex-end {
        justify-content: flex-end;
    }

    &.align-start {
        align-items: flex-start;
    }

    &.align-center {
        align-items: center;
    }
    &.align-end {
        align-items: flex-end;
    }

    &.wrap {
        flex-wrap: wrap;
    }

    &.align-end {
        align-items: flex-end;
    }

    .grow {
        flex-grow: 1;
    }

    &.align-baseline {
        align-items: baseline;
    }
}

/* List helpers */

.clean-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.pointer {
    cursor: pointer;
}

.circle-img {
    border-radius: 50%;
}

.font-bold {
    font-weight: 600;
}

// color:

.main-color-bg {
    background-color: $clr12;
}

.main-color {
    color: $clr12;
}

.uncheck-color {
    color: $clr13;
}

.check-color {
    color: $clr12;
}
.color-underline {
    box-shadow: inset 0 -2px 0 $clr12;
    color: $clr9;
    font-weight: bold;
    font-size: 1em;
}
.rating-star {
    margin-right: 0.3em;
}
.pipe {
    span {
        &:not(:last-child):after {
            content: "|";
            padding: 0 1em;
        }
    }
}
// Media helpers

// .square-ratio {
//     @include aspect-ratio(1, 1);
// }
// .video-ratio {
//     @include aspect-ratio(16, 9);
// }
// .portrait-ratio {
//     @include aspect-ratio(9, 16);
// }
