// plate colors:

$clr1: #7fdbda;
$clr2: #ade498;
$clr3: #faf86b;
$clr4: #febf63;
$clr5: #dff0ea;
$clr6: #fff;
$clr7: #4f3a65;
$clr8: #595959;
$clr9: #000000f2;
$clr10: #D54215;
$clr11:#f7af31;
$clr12: #ff385c;

// Breakpoints:
$mobile-breakpoint: 460px;
$narrow-breakpoint: 720px;
$normal-breakpoint: 960px;