footer {
    padding-top: rem(64px);
}

.section-footer {
    background-color: rgba(166, 166, 166, 0.1);
    width: 100%;
    height: 350px;
    color: $clr13;

    h4 {
        color: $clr13;
        font-size: rem(18px);
        font-family: "Noto Sans KR", sans-serif;
    }
}
.footer-coloums {
    display: flex;
    justify-content: space-evenly;
}
.logo {
    display: flex;
    justify-content: center;
    font-size: rem(20px);
}

.more {
    display: flex;
    flex-direction: column;
    .magazine-img {
        width: 150px;
        padding-top: 15px;
    }
}
.Learn-more,
.connect {
    display: flex;
    flex-direction: column;
    a {
        padding: 20px 0px 0px;
        color: $clr13;
    }

    button {
        border: 1px solid $clr12;
        font-family: "Heebo", sans-serif;
    }
}
.second-footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: white;
    width: 100%;
    height: 200px;
    color: $clr8;
}
.terms {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    text-decoration: underline;
    padding-top: 30px;
    // width: 1200px;
}
.spoon {
    padding-top: 30px;
}
