.main-header {
    margin-right: 30px;
    height: 80px;
    width: 100vw;
    background-color: $clr6;
    color: $clr12;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: ridge;

    .logo {
        margin-left: rem(20px);
        font-size: rem(30px);
        a,
        a:visited,
        a:hover {
            color: $clr12;
        }
    }
}

li {
    list-style-type: none;
}
.link {
    font-size: rem(20px);
    color: $clr12;
    padding: 0 16px;
    &:hover {
        cursor: pointer;
    }
}
.main-nav {
    margin-right: 30px;
}
