.recipe-card {
    width: 310px;
    margin-bottom: 2em;    
    border-style: ridge;

    .recipe-card-body {
        padding: 1em;
        font-size: 0.85em;
        .abstract{
            margin: 0.7em 0 1em;
        }
    }
}
