.recipe-card {
    // width: 285px;
    margin-bottom: 2em;
    // border: 1px solid $clr15;
    h3{
        a{
            color: $clr9;
            &:visited, &:hover{
                color: $clr9;
            }
        }
    }
    .recipe-card-body {
        padding: 1em;
        font-size: 0.85em;
        .abstract {
            margin: 0.7em 0 1em;
        }
    }
    img{
        height: 250px;
    }
    .recipe-stats {
        justify-content: space-between;
        margin-inline-end: 10px;
    }
}
