.review-list {
    .recipe-review-wrapper {
        padding-bottom: rem(40px);

        .recipe-review-byline {
            display: flex;
            flex-wrap: wrap;
            margin-bottom: 1em;
            align-items: center;
            .recipe-review-adr {
                display: flex;
                align-items: center;
                .recipe-review-author {
                    margin: 0 rem(24px) 0 1em;
                    font-weight: bold;
                    .recipe-review-date{
                        font-size: rem(14px);
                        font-weight: lighter;
                    }
                }
            }
        }
        .recipe-review-body {
            margin-top: 1em;
        }
    }
}
