.home-page {
    .video-home {
        padding-bottom: rem(64px);
        width:100%;
    }
    .cuisine-container{
        padding-bottom: rem(64px);
    }
    .recipe-list {
        .recipe-card {
            cursor: pointer;
            width: 285px;
            margin-bottom: 2em;
            border-style: ridge;

            .recipe-preview-txt {
                padding: 5px 10px;
            }
        }
    }

    .cuisine-card {
        display: flex;
        justify-content: space-evenly;
        padding-bottom: rem(64px);

        img {
            width: 180px;
            height: 180px;
            border-radius: 50%;
            cursor: pointer;
        }

        .description {
            font-size: 0.85rem;
            display: block;
            text-align: center;
        }
    }
}
