.order-list{
    display: flex;
    flex-direction: column;
    text-align: center;

    
}
.produce-list{   
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
    grid-gap: 20px;
    align-items: center;
    margin-bottom: 30px;
    border-bottom: 1px solid #00000026;

    button {
      
        border: none;
        background-color: transparent;
        color: $clr12;
        &:hover {
            cursor: pointer;
           
        }

        h5{
            font-family: 'Noto Sans KR', sans-serif;
        }
    }
}




.produce-img{
    width: 100px;
}