.main-content{
    display: flex;
    flex-direction: column;
    align-items: center;

    .shopping-details{
        border: 1px solid rgb(221, 221, 221);
        border-radius: 12px;
        padding: 24px;
        box-shadow: rgba(0, 0, 0, 0.12) 0px 6px 16px;
    }

}


.order-list{
    display: flex;
    flex-direction: column;
    text-align: center;

    .recipe-details-btn, .me-primary-btn{
        width: 100px;
    }
   label{
 text-transform: capitalize;
 text-align: start;
   }
       

    
}
.produce-list{   
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
    grid-gap: 20px;
    align-items: center;
    margin-bottom: 30px;
    border-bottom: 1px solid #00000026;
    width: 800px;

    button {
      
        border: none;
        // width: 100px;
        background-color: transparent;
        color: $clr12;
        &:hover {
            cursor: pointer;
           
        }

        h5{
            font-family: 'Noto Sans KR', sans-serif;
        }
    }
}




.produce-img{
    width: 100px;
}