.recipe-details {
    display: flex;
    flex-direction: column;
    width: 600px;

    img {
        width: 50%;
        padding-top: 1rem;
    }

    .createdBy-recipe {
        // display: flex;
        

        .circle-img {
            width: 48px;
        }
    }
}
