.no-results-msg{
    padding: 1em;
    display: flex;
    flex-direction: row;
    .nav{
        margin-left: 3em;
        margin-bottom: 0.5em;
        position: relative;
        bottom: 0.5em;
    }
}