.recipe-details {
    // display: grid;
    // flex-direction: column;

    img {
        width: 80%;
        padding: 1rem;
    }

    .ingredients-recipe {
        border-style: solid;
        border-color: $clr12;
        padding: 1rem;

        button {
            border: none;
            cursor: pointer;
            background-color: none;

            &:hover {
                font-size: large;
            }
        }
    }
    .min-info {
        // width: 160px;
        // height: 130px;
        border-style: solid;
        border-color: $clr12;
        padding: 1rem;
    }
    .btn-share {
        button {
            border-color: $clr12;
            background-color: $clr6;
            a {
                color: $clr9;
                font-family: SourceSanPro;
            }
        }
    }

    .ingredients-recipe {
        span {
            font-weight: 600;
        }
        button {
            background: none;
            font-family: SourceSanPro;
            font-weight: 600;
        }
    }
    .createdBy-recipe {
        .circle-img {
            width: 70px;
        }
    }

    .directions-recipe {
        display: flex;
        flex-direction: column;
        span {
            font-weight: 600;
            cursor: pointer;
        }
    }
}
