.user-profile {
    .profile-subnav {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: stretch;
        a {
            flex: 1;
            padding: 1em 0;
            justify-self: center;
            text-align: center;
            background-color: $clr16;
            color: $clr13;
            position: relative;
            &.active {
                background-color: $clr12;
                color: $clr6;
                &:before {
                    display: block;
                }
            }
            &:before {
                display: none;
                content: "";
                width: 0;
                height: 0;
                position: absolute;
                top: 56px;
                border-left: 16px solid transparent;
                border-right: 16px solid transparent;
                border-top: 8px solid $clr12;
                left: 50%;
                margin-left: -16px;
            }
            &:not(.active):hover {
                background-color: $clr14;
            }
        }
    }
    .container {
        display: grid;
        grid-template-columns: 1fr 3fr;
        padding-top: rem(20px);
        grid-gap: rem(20px);
        aside {
            .aside-inner{
            border: 1px solid rgb(221, 221, 221) !important;
            border-radius: 12px !important;
            }
            .about-img {
                height: 0;
                padding-top: 70%;
                display: block;
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center;
            }
        }
    }
}
.user-stats{
    li{
        margin-bottom: 0.8em;
    }
}
.user-socket-msg {
    padding: rem(20px);
    border: 2px solid $clr12;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    align-items: center;
    svg{
        fill: $clr12;
    }
}
